@media (min-width: 640px) {
    .tablet\:text-center { text-align: center }
    background-color: red;
  }
  
  @media (min-width: 1024px) {
    .laptop\:text-center { text-align: center }
  }
  
  @media (min-width: 1280px) {
    .desktop\:text-center { text-align: center }
  }





.main-box {
    min-height: 100vh;
    /* background-color: red; */
    text-align: center;
}


